/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

Gemfile.lock

*.swo
*.swp

.byebug_history
spec/dummy/Gemfile.hack
spec/dummy/Gemfile.hack.lock
